# Locals
config.ts
cache
sqlite3.db

# Logs
logs
*.log
npm-debug.log*
*.lock

# Dependency directories
package-lock.json
node_modules
yarn.lock

# Optional npm cache directory
.npm

# SFTP for deploy
.vscode/sftp.json

errors.txt